.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
   
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-orange {
    color: orange;
}

.text-xl {
    font-size: 24px;
}

.icon-black {
    color: black;
    margin-right: 8px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #ff9900, #ff6600); /* Orange gradient */
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ff6600, #cc5200); /* Darker on hover */
}

.topright {
    width: 50%;
    height: auto;
}

.topright img {
    width: 100%;
    height: auto;
    display: block;
}







